<%- include('includes/head' , {pageTitle : 'An error Occured'})  %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('includes/header') %>
<main>
    <h1>Sorry something went wrong</h1>
    <p>Unfortunatly , some thing went wrong -please try again</p>
    <p><a class="btn" href="/">Back to saftly</a></p>
</main>

<%- include('includes/footer') %>