<%- include('../../Shared/includes/head' , {pageTitle : 'All orders'})  %>
<link rel="stylesheet" href="/styles/products.css">

</head>
<body>
    <%- include('../../Shared/includes/header') %>
<main>
    <h1>All Your Orders</h1>


</main>

<%- include('../../Shared/includes/footer') %></form>