<%- include('../../Shared/includes/head' , {pageTitle : 'Login'})  %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('../../Shared/includes/header') %>
<main>
    <h1>Login</h1>
<form method="post" action="/signup">
    <input type="hidden" name="csurf_token" id="" value="<%= locals.csurftoken%>" >
<p>
    <label for="Email">Email</label>
    <input type="email" name="Email" id="Email" required>
</p>
<p>
    <label for="Password">Password</label>
    <input type="Password" name="Password" id="Password" required maxlength="10">
</p>

<Button class="btn" >Login </Button>
<p id="switch-form" ><a href="/signup">Sign uP</a></p>
</form>
</main>

<%- include('../../Shared/includes/footer') %>