<%- include('../../Shared/includes/head' , {pageTitle : 'AllProducts'})  %>
</head>
<body>
    <%- include('../../Shared/includes/header') %>
<main>
    <h1>All Products</h1>
<p>My all products...</p>

</main>

<%- include('../../Shared/includes/footer') %></form>