<%- include('../../Shared/includes/head' , {pageTitle : 'AllProducts'})  %>
<link rel="stylesheet" href="/styles/form.css">
<script src="/scripts/image-preview.js" defer ></script>
</head>
<body>
    <%- include('../../Shared/includes/header') %>
<main>
    <h1>Add New Product</h1>
    <%- include('includes/product-form' ,{submitPath : '/admin/products' , product: {
        title: '',
        price: '',
        description: '',
       summary: '',
    },imageRequired: true
    } )  %> <!-- Include the product-form partial and 2nd parameter as path-->
</main>

<%- include('../../Shared/includes/footer') %>